@mixin mq($value) {
	@media only screen and (max-width: $value) {
		@content;
	}
}
html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

html,
body{
	color: #000;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	line-height: 20px;
}
header{
	display: block;
	text-align: center;
	padding: 20px;
}
header a{
	margin: 0 10px;
	text-decoration: none;
	font-weight: 500;
	color: #16B6DF;
	font-size: 24px;
}

header a.is-active{
	border-bottom: 3px solid #16B6DF;
	font-weight: 700;
}
.userguide-container,
.content-container{
	display: block;
	margin: 0 auto;
	width: 1200px;
	@include mq(1240px){
		width: 100%;
		padding: 0 20px;
	}
}
.message-warning{
	text-align: center;
	padding: 20px;
	width: 100%;
	a{
		font-weight: bold;
		text-decoration: none;
		color:#16B6DF;
	}
}
.add-quote-container{
	display: flex;
	flex-flow: column nowrap;
	width: 300px;
	margin: 0 auto 30px auto;
	@include mq(350px){
		width: 100%;
	}
}
.quote-container{
	width: 100%;
	article{
		font-size: 36px;
		line-height: 40px;
		padding: 40px 0px;
		position: relative;
		@include mq(1240px){
			font-size: 18px;
			line-height: 20px;
		}
		&:after{
			content: '\201d';
			position: absolute;
			top: 40px;
			right: 0;
			font-size: 72px;
			line-height: 0;
			color: #16B6DF;
		}
		&:before{
			content: '\201c';
			position: absolute;
			bottom: 0;
			left: 0;
			font-size: 72px;
			line-height: 0;
			color: #16B6DF;
		}
	}
}
.quote-title{
	text-transform: uppercase;
	color: #16B6DF;
	font-weight: bold;
	padding-left: 30px;
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 50%;
	text-align: left;
	margin: 0;
	&:before{
		content: '';
		position: absolute;
		left: 0;
		top: calc(50% - 3px);
		height: 3px;
		width: 27px;
		background-color: #16B6DF;
	}
	@include mq(1240px){
		font-size: 18px;
		line-height: 20px;
	}
}
.quote-link-container{
	display: block;
	margin: 20px 0;
	text-align: right;
}
.quote-link{
	text-decoration: none;
	position: relative;
	font-size: 24px;
	color: #000;
	display: inline-block;
	vertical-align: top;
	text-align: right;
	width: 50%;
	@include mq(1240px){
		font-size: 18px;
		line-height: 20px;
	}
	&:after{
		content: '';
		position: absolute;
		bottom: 0;
		right: 0;
		height: 8px;
		width: 100px;
		z-index: -1;
		background-color: rgba(22,182,223, 0.3);
		transition: height 0.2s, background 0.2s;
		@include mq(1240px){
			width: 80px;
		}
	}
	&:hover{
		&:after{
			content: '';
			position: absolute;
			bottom: 0;
			right: 0;
			height:22px;
			width: 100px;
			z-index: -1;
			background-color: rgba(22,182,223, 0.3);
			@include mq(1240px){
				width: 80px;
			}
		}
	}
}
.btn-container{
	display: block;
	text-align: center;
	margin: 30px 0;
}
.edit-quote,
button{
	text-decoration: none;
	color: #16B6DF;
	border: 3px solid #16B6DF;
	border-radius: 5px;
	padding: 10px 15px;
	font-weight: bold;
	background: #fff;
	transition: background-color 0.1s, color 0.1s;
	cursor: pointer;
	margin: 0 5px;
	@include mq(350px){
		width: 100%;
		display: block;
		margin: 15px 0 0 0;
	}
	&:hover{
		color: #fff;
		background-color: #16B6DF;
	}
}
form{
	margin: 0 auto;
	width: 1200px;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	@include mq(1240px){
		width: 100%;
		padding: 0 20px;
	}
	textarea,
	input{
		margin-bottom: 15px;
		font-size: 20px;
		line-height: 24px;
		width: 450px;
		border-radius: 5px;
		border: 2px solid #16B6DF;
		padding: 10px;
		@include mq(500px){
			width: 100%;
		}
		&:focus{
			border: 2px solid #28e2c3;
		}
	}
	textarea{
		min-height: 200px;
		line-height: 1.5em;
	}
}